/* common shared styles */
body{
    font-family:'Open Sans',sans-serif
}
.text-style{
    color:#fd6e0a;
}
/* nav related style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color:#181818;
    font-size:45px;
    font-weight:800;
}
nav ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right:51px;
}
nav li a{text-decoration:none;
    color:var(--dark-02,#474747);
    font-size:20px;
    font-weight:400;
}
.btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}